/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section{
  background-image: url(bg1.jpeg);
  background-size: cover;
  height: 30vh;
}
.over{
  height: 30%;
  background: rgba(0, 0, 0, 0.9);
}
.head{
  height: 30vh;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  text-align: center;
}
.head h1{
  font-size: 4rem;
  
 color: rgb(228, 151, 8);
  text-transform: capitalize;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.head span:hover{
  color: rgb(228, 151, 8);
 -webkit-text-stroke: 1px white;
}
.container{
  width: 1100px;
  margin: auto;
}

.nav_bar{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: left;
  font-size: 3rem;
}
.logo i{
  margin-right: 1px;
  color: rgb(228, 151, 8);
  font-size: 1.8rem;
}

/* menu list style */

.menu_list a{
  margin: 1rem;
  font-size: 16px;
  color: rgb(82, 79, 79);
  display: flex;
    
    padding: 5px 2px;
    border-radius: 4px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s;
}
.menu_list  a:hover,.menu_list  a.active{
    background: black;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}
menu_list  ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.lg_btn{
 
  margin-left: 0.3rem;
  padding: 2px 1rem;
  border-radius: 4px;
  color: #fff;
  background: rgb(228, 151, 8);
  cursor: pointer;
}
.menu_list a:hover{
  color: #000;
}

/* Home section style */
.home_section{
  background-image: url(trav.jpeg);
  background-size: cover;
  height: 100vh;
}
.overlay{
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  text-align: center;
}
.home h1{
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
  text-shadow: 2px black;
  transition: ease 0.3s;
}
.home h1:hover{
	-webkit-text-stroke: 1px white;	
}
.home span{
  color: rgb(228, 151, 8);
}
.home_buttons{
  margin-top: 2rem;
}
.home_buttons button{
  padding: 10px 1rem;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
   display: inline-block;
    margin-top:5vh;
   
    padding: 10px 30px;
    color: rgb(21, 74, 74);
    /* background-color:rgb(164, 44, 44); */
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: ease 0.30s;
}
.home_buttons button i{
  margin-right: 10px;
}
.home_buttons .btn1:hover{
  background: rgb(228, 151, 8);
 transform: scale(1.1);
    color: white;
    /*background-color: rgb(21, 74, 74);*/
    /* border: 2px solid rgb(42, 37, 68); */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
  
}

/* services */
.services{
  background: rgb(223, 223, 223);
  padding: 2rem 1rem;
}
.services .title{
  text-align: center;
}
.title h1{
  font-size: 2rem;
  text-transform: capitalize;
}
.title span{
  color: rgb(228, 151, 8);
}
.title .slogan{
  font-size: 1rem;
  color: gray;
}
.services_boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
   border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 50px 10px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}
.box{
  width: 320px;
  background: #fff;
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
}
.box i{
  font-size: 4rem;
  color: rgb(228, 151, 8);
  margin-bottom: 2rem;
}
.box p{
  color: gray;
  margin-top: 10px;
}
.box:hover, .br{
  border: 2px solid rgb(228, 151, 8);
}
.services_boxes:hover{
    transform: translateX(3px);
    box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
}
